header {
    height: 400px;
}
li {
    /* 导航 */
    /*外观*/
    display: inline;
	/*定位*/
	line-height: 60px;
	float: left;
}
#nav_ul li {
    /* 导航 */
    /*外观*/
    display: inline;
}
#nav_ul li a {
    /* 导航链接 */
    /*尺寸*/
    width: 120px;
    /*外观*/
    color: #f5f5f5;
}
#page {
	/* 页面内容 */
	/*尺寸*/
	width: 100%;
	height: auto;
	/*外观*/
	background-color: #f5f5f5;
}
.mov_nav #page_ul li a {
    /* page导航链接 */
    /*尺寸*/
    width: 540px;
    /*外观*/
	text-align: center;
	background-color: #123456;
    color: #f5f5f5;
}
.mov_nav #page_ul li a:hover {
    /* page导航链接 */
	/*外观*/
	background-color: #abcdef;
    color: #333333;
}
.fix_nav #page_ul li a {
    /* page导航链接 */
    /*尺寸*/
    width: 270px;
    /*外观*/
	text-align: center;
	background-color: #123456;
    color: #f5f5f5;
}
.fix_nav #page_ul li a:hover {
    /* page导航链接 */
	/*外观*/
	background-color: #abcdef;
    color: #333333;
}

.button {
    /*尺寸*/
    width: 150px;
    height: 38px;
    /*外观*/
    font-size: 18px;
    border: 0 none;
    background-color: #f0f0f0;
    cursor: pointer;

    margin: 5px auto;
}

.textbox {
	/* 文本框 */
	/*尺寸*/
	width: 80%;
	height: 45px;
	/*外观*/
	border: 0 none;
    background-color: #f0f0f0;
    font-size: 15px;
    font-weight: lighter;
	margin: 15px auto;
	padding: 0px 10px;
}
.mov_nav {
    /* 导航条 */
    /*定位*/
    position: relative;
}
.fix_nav {
    /* 固定导航条 */
    /*定位*/
    position: fixed;
    top: 0px;
    z-index: 1600;
}
#search {
    width: 540px;
    height: 60px;
    background-color: #123456;
    position: fixed;
    top: 0px;
    left: 50%;
    display: none;
    text-align: center;
}
#search_form {
    margin: 0px 0px;
    padding: 0px 0px;
    width: 100%;
    height: 100%;

}
#search_box {
    width: 90%;
    height: 45px;
    margin: 0px 0px;
    padding: 0px 10px;
    position: relative;
    top: 0px;
    left: 10px;
}

#nav_search {
    /* 搜索 */
    /*尺寸*/
    width: 388.8px;
    height: 40px;
    /*外观*/
    background-color: #f0f0f0;
    /*定位*/
    line-height: 60px;
    float: right;
    position: relative;
    top: 10px;
}
#nav_search_form {
	/* 搜索表单 */
	/*尺寸*/
	width: 100%;
	height: 100%;
}
#nav_search_box {
    /* 搜索框 */
    /*尺寸*/
    width: 320px;
    height: 38px;
    /*外观*/
    border: 0 none;
    background-color: #f0f0f0;
    font-size: 14px;
    font-weight: lighter;
    /*定位*/
    position: relative;
    top: -11px;
	left: -5px;
	padding-left: 5px;
}
input::-ms-clear {
	display: none;
}
#nav_search_button {
    /* 搜索按钮 */
    /*尺寸*/
    width: 50px;
    height: 38px;
    /*外观*/
    font-size: 18px;
    border: 0 none;
    background-color: #f0f0f0;
    cursor: pointer;
    /*定位*/
    position: relative;
    top: -10px;
	left: -5px;
}

.article {
	width: 80%;
	height: 800px;
	float: left;
}

#clubinfo {
	width: 20%;
	height: 300px;
	background-color: transparent;
	float: left;
}

.mov_clubinfo {
	position: relative;
}
.fix_clubinfo {
	position: fixed;
	top: 60px;
	right: 0%;
}

img {
	width: 100%;
	height: auto;
}

#bodytext {
	background-color: #f5f5f5;
	margin: 10px 10px;
	height: auto;
	box-shadow: 0px 2px 5px #333333;
	padding: 20px 30px;
}

#comment {
	background-color: #f5f5f5;
	margin: 10px 10px;
	height: auto;
	box-shadow: 0px 2px 5px #333333;
	padding: 20px 30px;
}

#clubicon {
	margin-top: 10px;
	width: 260px;
	height: 250px;
	background-color: #f5f5f5;
	box-shadow: 0px 2px 5px #333333;
	text-align: center;
}
#clubicon img {
	width: 125px;
	height: auto;
	position: relative;
	top: 40px;
}
#clubicon p {
	position: relative;
	top: 60px;
	font-size: 28px;
}

#function {
	margin-top: 10px;
	width: 260px;
	height: 60px;
	background-color: #f5f5f5;
	box-shadow: 0px 2px 5px #333333;
}

#clubtext {
	width: 240px;
	height: auto;
	background-color: #f5f5f5;
	margin-top: 10px;
	box-shadow: 0px 2px 5px #333333;
	padding: 10px;
}
.functionbutton {
	margin: 10px 10px;
	height: 40px;
	width: 110px;
	float: left;
	
	border: 0 none;
	
}
#bodytext_title {
	font-size: 28px;
	width: 50px;
	line-height: 45px;
	border-bottom: 1px;
	border-bottom-style: groove;
}

.comment_content {
	margin-top: 15px;
}

#comment_user {
	
}

#commentusername {
	border: 1px;
	border-bottom-style: groove;
	border-bottom-color: darkgray;
	float: left;
	font-size: 18px;
}

#commentdislike {
	float: right;
	font-size: 14px;
	margin-right: 5px;
}

#commentlike {
	float: right;
	font-size: 14px;
	margin-right: 5px;
}

#comment_text {
	clear: both;
	border: 1px;
	border-bottom-style: groove;
	border-bottom-color: darkgray;
}

#write_comment {
	width: 100%;
	height: 80px;
	margin-bottom: 30px;
}

#comment_box {
	font-size: 14px;
	width: 98%;
	height: 98%;
	border: 0 none;
	padding: 1% 1%;
	background-color: #dddddd;
}

#comment_form {
	width: 100%;
	height: 100%;
}

.commentsubmit {
	width: 10%;
	height: 30px;
	position: relative;
	left: 90%;
	top: -30px;
	border: 0 none;
}
