li {
    /* 导航 */
    /*外观*/
    display: inline;
	/*定位*/
	line-height: 60px;
	float: left;
}
#nav_ul li {
    /* 导航 */
    /*外观*/
    display: inline;
}
#nav_ul li a {
    /* 导航链接 */
    /*尺寸*/
    width: 120px;
    /*外观*/
    color: #333333;
}
#page {
	/* 页面内容 */
	/*尺寸*/
	width: 100%;
	height: auto;
	/*外观*/
	background-color: #f5f5f5;
}
#page_ul li a {
    /* page导航链接 */
    /*尺寸*/
    width: 270px;
    /*外观*/
	text-align: center;
	background-color: #123456;
    color: #f5f5f5;
}
#page_ul li a:hover {
    /* page导航链接 */
	/*外观*/
	background-color: #abcdef;
    color: #333333;
}
#left {
	/* 左侧文本&图片 */
	/*尺寸*/
	width: 64%;
	height: 100%;
	/*外观*/
	/*定位*/
	float: left;
}
#intro {
	/* 介绍文字 */
	/*定位*/
	margin-top: 100px;
}
#intro_title {
	/* 介绍文字标题 */
	/*外观*/
	font-size: 50px;
	font-weight: lighter;
	color: #f5f5f5;
	text-shadow: 0px 0px 10px #000000;
}
#intro_content {
	/* 介绍文字标题 */
	/*外观*/
	font-size: 24px;
	font-weight: lighter;
	color: #f5f5f5;
	text-shadow: 0px 0px 5px #000000;
}
#setup {
	/* 创建俱乐部按钮 */
	/*定位*/
	margin: 15px 0px;
}
#setup_button {
	/* 登录按钮 */
	/*尺寸*/
	width: 150px;
	height: 45px;
	/*外观*/
	font-size: 18px;
    border: 0 none;
    background-color: #f0f0f0;
    cursor: pointer;
	/*定位*/
	margin: 20px auto;
}
#right {
	/* 右侧登录 */
	/*尺寸*/
	width: 36%;
	height: 100%;
	/*外观*/
	background-color: #345678;
	text-align: center;
	/*定位*/
	float: left;
	position: relative;
	top: 80px;
}
.textbox {
	/* 文本框 */
	/*尺寸*/
	width: 80%;
	height: 45px;
	/*外观*/
	border: 0 none;
    background-color: #f0f0f0;
    font-size: 15px;
    font-weight: lighter;
	margin: 15px auto;
	padding: 0px 10px;
}
#login_checkbox {
	/* 记住密码 */
	/*定位*/
	margin: 10px auto;
}
#login_button {
	/* 登录按钮 */
	/*尺寸*/
	width: 65%;
	height: 45px;
	/*外观*/
	font-size: 18px;
    border: 0 none;
    background-color: #f0f0f0;
    cursor: pointer;
	/*定位*/
	margin: 20px auto;
}
#signup_text a {
	/* 注册链接 */
	/*外观*/
	font-size: 18px;
	text-decoration: none;
	color: #f5f5f5;
}
.mov_nav {
    /* 导航条 */
    /*定位*/
    position: relative;
}
.fix_nav {
    /* 固定导航条 */
    /*定位*/
    position: fixed;
    top: 0px;
    z-index: 1600;
}
.hotclub, .chats, .allclub, .joinus {
    /* 功能区块 */
    /*尺寸*/
    width: 100%;
    height: 400px;
    /*外观*/
    /*background-color: #111111;*/
}
.hotclub{
    /*外观*/
    background-color: #234567;
}
.chats{
    /*外观*/
    background-color: #345678;
}
.allclub{
    /*外观*/
    background-color: #456789;
}
.joinus{
    /*外观*/
    background-color: #56789a;
}
