/*尺寸*/
/*外观*/
/*定位*/
/*其它*/
* {
	/*尺寸*/
	/*外观*/
	/*定位*/
	margin: 0px;
	padding: 0px;
	/*其它*/
}
body {
	/*尺寸*/
	/*外观*/
	background-color: #f5f5f5;
	font-size: 16px;
	font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: lighter;
	/*定位*/
	/*其它*/
}
