/*尺寸*/
/*外观*/
/*定位*/
/*其它*/
* {
	/*定位*/
	margin: 0px;
	padding: 0px;
}
body {
	/*外观*/
	background-color: #f5f5f5;
	font-size: 16px;
	font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif;
}
#container {
    /* 整体容器 */
    /*尺寸*/
    width: 100%;
	min-height:100%;
	height: auto !important;
	height: 100%; /*IE6不识别min-height*/
	/*定位*/
	position: relative;
}
#main {
    /* 主体部分 */
    /*尺寸*/
    width: 100%;
    height: 500px;
    /*外观*/
    background-color: #333333;
	/*定位*/
	margin: 0 auto;
	padding-bottom: 165px;
}
#xtra {
    /* 附加信息 */
    /*尺寸*/
    width: 100%;
    height: 160px;
    /*外观*/
    background-color: #f5f5f5;
	/*定位*/
	position: absolute;
	bottom: 0;
	clear: both;
}
.content {
    /* 内容容器 */
    /*尺寸*/
    width: 1080px;
    /*定位*/
    margin: 0px auto;
}
#main .content {
    /* 主体部分的内容容器样式 */
    /*尺寸*/
    height: 500px;
    /*外观*/
    background-color: #666666;
}
#xtra .content {
    /* 附加信息的内容容器样式 */
    /*尺寸*/
    height: 160px;
    /*外观*/
    background-color: #555555;
}
header {
    /* 顶部栏 */
    /*尺寸*/
    width: 100%;
    height: 96px;
    /*外观*/
    background-color: #777777;
    text-align: right;
}
#page_top {
    /* 上边距 */
    /*尺寸*/
    width: 100%;
    height: 36px;
    /*外观*/
    background-color: #999999;
}
#logo {
    /* Logo */
    /*尺寸*/
    width: 128px;
    height: 60px;
    /*外观*/
    background-color: #888888;
    /*定位*/
    float: left;
}
ul {
    /* 导航 */
    /*外观*/
    list-style-type: none;
}
li {
    /* 导航 */
    /*外观*/
    display: inline;
}
li a {
    /* 导航链接 */
    /*尺寸*/
    width: 135px;
    /*外观*/
    display: block;
    text-decoration: none;
    color: #333333;
    /*定位*/
    line-height: 60px;
    float: left;
}
#search {
    /* 搜索 */
    /*尺寸*/
    width: 360px;
    height: 40px;
    /*外观*/
    background-color: #f0f0f0;
    /*定位*/
    line-height: 60px;
    float: right;
    position: relative;
    top: 10px;
	right: 5px;
}
#search_box {
    /* 搜索框 */
    /*尺寸*/
    width: 285px;
    height: 38px;
    /*外观*/
    border: 0 none;
    background-color: #f0f0f0;
    font-size: 20px;
    font-weight: lighter;
    padding-left: 5px;
    /*定位*/
    position: relative;
    top: -10px;
}
input::-ms-clear {
	display: none;
}
#search_button {
    /* 搜索按钮 */
    /*尺寸*/
    width: 60px;
    height: 38px;
    /*外观*/
    font-size: 18px;
    border: 0 none;
    background-color: #f0f0f0;
    cursor: pointer;
    /*定位*/
    position: relative;
    top: -10px;
}
#left {
	/* 左侧文本&图片 */
	/*尺寸*/
	width: 64%;
	height: 100%;
	/*外观*/
	background-color: #123456;
	/*定位*/
	float: left;
}
#right {
	/* 右侧登录 */
	/*尺寸*/
	width: 36%;
	height: 100%;
	/*外观*/
	background-color: #999999;
	/*定位*/
	float: left;
}
