* {
	margin: 0px;
	padding: 0px;
}
html, body {
	overflow: auto;
	height: 100%;
	
	background-color: #f7f7f7;
	
	font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: lighter;

	/*Character Selecting Forbidden*/
	-moz-user-select: none; /*FireFox*/   
	-webkit-user-select: none;  /*Webkit*/   
	-ms-user-select: none;   /*IE*/   
	-khtml-user-select: none; /*Early Browsers*/   
	user-select: none;
}

#container {
	width: 100%;
	height: 100%;
	min-width: 1366px;
	min-height: 640px;

	background-color: #016fc1;
}

#left {
	width: 810px;
	height: 100%;

	background-color: #016fc1; 
	box-shadow: 5px 5px 5px #888888;

	float: right;
}
#left_head {
	width: 100%;
	height: 40%;
}
#left_body {
	width: 100%;
	height: 10%;

	color: #f7f7f7;
	font-size: 60px;

	margin-right: 100%;
}
#left_foot {
	width: 100%;
	height: 50%;
}

#right {
	width: 550px;
	height: 100%;

	color: #333333;
	background-color: #f5f5f5;

	float: right;
}
#right_content {
	width: 65%;
	height: 50%;
	min-height: 320px;
	max-height: 350px;
	
	border-width: 1px;
	background-color: #f8f8f8;
	box-shadow: 1px 1px 5px #666666;

	margin: 30% auto;
}
#login_form {
	height: 100%;
}
#login_form_textbox {
	width: 85%;
	height: 60%;

	margin: 0px auto;
}
#login_form_checkbox {
	width: 80%;
	height: 15%;

	margin: 0px auto;
}
#login_form_button {
	width: 80%;
	height: 25%;

	margin: 0px auto;
}
#login {
	width: 125px;
	height: 50px;

	font-size: 1em;
	border: 0 none;
	cursor: pointer;

	position: relative;
	left: 5px;

	background-color: #f5f5f5;
	box-shadow: 1px 1px 3px #888888;
}
#signup {
	width: 125px;
	height: 50px;

	font-size: 1em;
	border: 0 none;
	cursor: pointer;

	position: relative;
	left: 25px;

	background-color: #48a9f3;	
	box-shadow: 1px 1px 3px #888888;
}

#login:hover {
	background-color: #fdfdfd;
	box-shadow: 1px 1px 5px #aaaaaa;
}
#signup:hover {
	background-color: #6abaf4;
	box-shadow: 1px 1px 5px #aaaaaa;
}
#login:active {
	background-color: #f2f2f2;
	box-shadow: -0.5px -0.5px 5px #aaaaaa;
}
#signup:active {
	background-color: #3798d2;
	box-shadow: -0.5px -0.5px 5px #aaaaaa;
}