/*尺寸*/
/*外观*/
/*定位*/
/*其它*/
* {
	/*定位*/
	margin: 0px;
	padding: 0px;
}
body {
	/*外观*/
	background-color: #456789;
	font-size: 16px;
	font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif;
}
#container {
    /* 整体容器 */
    /*尺寸*/
    width: 100%;
	min-height:100%;
	height: auto !important;
	height: 100%; /*IE6不识别min-height*/
	/*定位*/
	position: relative;
}
header {
    /* 页面顶部 */
    /*尺寸*/
    width: 100%;
    height: 600px;
    /*外观*/
	/*定位*/
	margin: 0 auto;
}
.content {
    /* 内容容器 */
    /*尺寸*/
    width: 1080px;
    /*定位*/
    margin: 0px auto;
}
header .content {
    /* 页面顶部的内容容器样式 */
    /*尺寸*/
    height: 360px;
}
footer .content {
    /* 页脚的内容容器样式 */
    /*尺寸*/
    height: 225px;
}
#top_nav {
    /* 顶部栏 */
    /*尺寸*/
    width: 100%;
    height: 96px;
    /*外观*/
    text-align: right;
}
#nav_top {
    /* 上边距 */
    /*尺寸*/
    width: 100%;
    height: 36px;
    /*外观*/
}
#logo {
    /* Logo */
    /*尺寸*/
    width: 128px;
    height: 60px;
    /*外观*/
    background-color: #888888;
    /*定位*/
    float: left;
}
ul {
    /* 导航 */
    /*外观*/
    list-style-type: none;
}
li a {
    /* 导航链接 */
    /*外观*/
    display: block;
    text-decoration: none;
}
#search {
    /* 搜索 */
    /*尺寸*/
    width: 388.8px;
    height: 40px;
    /*外观*/
    background-color: #f0f0f0;
    /*定位*/
    line-height: 60px;
    float: right;
    position: relative;
    top: 10px;
}
#search_form {
	/* 搜索表单 */
	/*尺寸*/
	width: 100%;
	height: 100%;
}
#search_box {
    /* 搜索框 */
    /*尺寸*/
    width: 320px;
    height: 38px;
    /*外观*/
    border: 0 none;
    background-color: #f0f0f0;
    font-size: 14px;
    font-weight: lighter;
    /*定位*/
    position: relative;
    top: -11px;
	left: -5px;
	padding-left: 5px;
}
input::-ms-clear {
	display: none;
}
#search_button {
    /* 搜索按钮 */
    /*尺寸*/
    width: 50px;
    height: 38px;
    /*外观*/
    font-size: 18px;
    border: 0 none;
    background-color: #f0f0f0;
    cursor: pointer;
    /*定位*/
    position: relative;
    top: -10px;
	left: -5px;
}
