* {
	margin: 0px;
	padding: 0px;
}
html, body {
	overflow: auto;
	height: 100%;
	
	background-color: #f7f7f7;
	
	font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: lighter;
}

#container {
	width: 100%;
	height: 100%;
	min-width: 1366px;
	min-height: 640px;
}

#left {
	width: 200px;
	height: 100%;

	color: #f7f7f7;
	background-color: #016fc1;
	box-shadow: 5px 0px 5px #888888;

	float: left;
	position: relative;
	left: 0px;

	/*Character Selecting Forbidden*/
	-moz-user-select: none; /*FireFox*/   
	-webkit-user-select: none;  /*Webkit*/   
	-ms-user-select: none;   /*IE*/   
	-khtml-user-select: none; /*Early Browsers*/   
	user-select: none;
}
#left_head {
	width: 100%;
	height: 25%;
	min-height: 160px;

	margin: 0px auto;
}
#left_head_img {
	width: 90px;
	height: 90px;

	margin: 0px auto;
	position: relative;
	top: 15px;
}
#left_head_img img {
	width: 90px;
	height: 90px;

	border-radius: 50%;
}
#left_head_txt {
	width: 100%;
	height: 45px;

	background-color: #0062ad;
	font-size: 25px;
	line-height: 45px;
	text-align: center;

	position: relative;
	top: 30px;

	cursor: default;
}
#left_body {
	width: 100%;
	height: 60%;
	min-height: 384px;

	margin: 0px auto;
}
.left_body_button {
	width: 100%;
	height: 50px;

	color: #f7f7f7;
	background-color: #016fc1;
	font-size: 20px;
	font-weight: lighter;
	line-height: 50px;	
	text-align: left;
	border: 0 none;

	padding: 0px 15px;
	position: relative;
	top: 10px;

	cursor: pointer;
}
.left_body_button:hover {
	background-color: #2687d1;
}
#left_foot {
	width: 100%;
	height: 15%;
	min-height: 96px;

	margin: 0px auto;
}
.left_foot_button {
	width: 100%;
	height: 48px;

	color: #f7f7f7;
	background-color: #016fc1;
	font-size: 15px;
	font-weight: lighter;
	line-height: 48px;	
	text-align: left;
	border: 0 none;

	padding: 0px 15px;

	cursor: pointer;
}
.left_foot_button:hover {
	background-color: #0062ad;
}
.left_foot_button img {
	width: 40px;
	height: 40px;

	border-radius: 50%;

	vertical-align: middle;
	position: relative;
	top: -2px;
	left: 25px;
}

#middle {
	width: 550px;
	height: 100%;

	background-color: #f7f7f7;
	box-shadow: 2.5px 0px 5px #aaaaaa;

	float: left;
	position: relative;
	left: 7.5px;
}
#middle_head {
	width: 100%;
	height: 60px;

	line-height: 60px;
	text-align: center;
	font-size: 24px;

	cursor: default;
	box-shadow: 0px 2.5px 2.5px #aaaaaa;

	/*Character Selecting Forbidden*/
	-moz-user-select: none; /*FireFox*/   
	-webkit-user-select: none;  /*Webkit*/   
	-ms-user-select: none;   /*IE*/   
	-khtml-user-select: none; /*Early Browsers*/   
	user-select: none;
}
#middle_body {
	width: 100%;
	height: 90%;
	min-height: 575px;

	overflow-x: hidden;
	overflow-y: scroll;
}
#middle_foot {
	width: 100%;
	height: auto;
}



#right {
	width: 600px;
	height: 100%;

	background-color: #f7f7f7;

	float: left;
	position: relative;
	left: 15px;
}