*{
    padding:0;
    margin: 0;
}
#top_background{
    width:100%;
    height:250px
}
#head{
    position: absolute;
    top: 90px;
    left: 106px;
    width: 126px;
    height: 126px;
    border-radius: 2px;
    border-top-color: rgb(217, 217, 217);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(217, 217, 217);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(217, 217, 217);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(217, 217, 217);
    border-left-style: solid;
    border-left-width: 1px;
    box-shadow:0px 2px 5px rgba(0,0,0,0.3),0px 0px 50px rgba(200,0,0,0.1) inset;
}
#left_nav{
    position: relative;
    left: 150px;
    top: 40px;
    background-color: rgba(50,100,200,0.4);
    width: 220px;
    height: 380px;
    border-radius: 2px;
}
.left_button{
    width: 100%;
    height: 50px;
}
#right_block{
    position: absolute;
    top: 290px;
    left: 390px;
    background-color: rgba(30,30,30,0.1);
    width: 75%;
    padding-bottom:  60px;
    padding:22px;
    border-radius: 5px;
    border:white 2px solid;
}
#display{
    margin-left: 55px;
    margin-top: 10px;
}
#self_info_fieldset{
    width: 80%;
    padding: 40px;
    margin-left: 5%;
}
.item{
    margin-left: 25%;
}
#selectmenu{
    width: 282px;
}
.textbox{
    height: 30px;
    width: 280px;
    margin-top: 4px;
    border: orange 1px solid;
    text-align: center;
    font-size: 16px;
}
#select_span{
    position: relative;
    top: 3px;
}
#select_text{
    position: relative;
    bottom: 10px;
}
