*{
    padding:0;
    margin: 0;
}
#head{
    position: absolute;
    top: 90px;
    left: 106px;
    width: 126px;
    height: 126px;
    border-radius: 2px;
    border-top-color: rgb(217, 217, 217);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(217, 217, 217);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(217, 217, 217);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(217, 217, 217);
    border-left-style: solid;
    border-left-width: 1px;
    box-shadow:0px 2px 5px rgba(0,0,0,0.3),0px 0px 50px rgba(200,0,0,0.1) inset;
}
#left_nav{
    position: relative;
    left: 150px;
    top: 48px;
    background-color: rgba(50,100,200,0.4);
    width: 220px;
    height: 380px;
    
}
.left_button{
    width: 100%;
    height: 50px;
}